<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>English-French Translator</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <label for="eng_sent"><b>English Sentence</b></label><br>
    	<textarea name = "eng_sent"
                  rows = "4"
                  style="font-size: 12pt"
                  cols = "50">{{en_text}}</textarea> <br> <br>
                  
        <button type="submit" class="btn btn-primary btn-block btn-large">Translate</button>
    </form>

   <br>
   <br>
   <br>
   <label for="fr_sent"><b>French Translation</b></label><br>
   <textarea rows="4" cols="50" style="font-size: 15pt" name = "eng_sent" readonly> {{ fr_text }}</textarea>
  

 </div>


</body>
</html>
